def get_sig_implication_rules():

    sig_pairs = [
        {%for sig_pair in sig_implications%}
        (('{{sig_pair.first_parent}}','{{sig_pair.first_child}}'),('{{sig_pair.second_parent}}','{{sig_pair.second_child}}')),
        {%endfor%}
    ]

    return sig_pairs

def get_name_implication_rules():

    name_pairs = [
        {%for name_pair in name_implications%}
        ('{{name_pair.first_name}}','{{name_pair.second_name}}'),
        {%endfor%}
    ]

    return name_pairs

def get_sig_null_disp_rules():

    null_sigs = {
        {%for sig in null_sigs%}
        ('{{sig.parent}}','{{sig.child}}'),
        {%endfor%}
    }

    return null_sigs

def get_name_null_disp_rules():

    null_names = {
        {%for name in null_names%}
        '{{name}}',
        {%endfor%}
    }

    return null_names

def get_sig_null_rot_rules():

    null_rot_sigs = {
        {%for sig in null_rot_sigs%}
        ('{{sig.parent}}','{{sig.child}}'),
        {%endfor%}
    }

    return null_rot_sigs

def get_name_null_rot_rules(transform_list):

    null_rot_names = {
        {%for name in null_rot_names%}
        '{{name}}',
        {%endfor%}
    }

    return null_rot_names
